
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#!/">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#!/hr_management">
            <i class="mdi mdi-file-document-box-outline menu-icon"></i>
            <span class="menu-title">HR Management</span>
          </a>
        </li>

        
  
      </ul>
  